<div class="md-whiteframe-z1">
	<div layout="row" layout-align="center center" layout-padding class="aroundYouTitle">
		<ng-md-icon style="fill:#fff;" size="35"icon="language" class="textShdw"></ng-md-icon>  <div class="aroundYouText" flex> <span class="textShdw">Dispensaries Around You </span></div>
	</div>
	<div layout="row" layout-align="center center" layout-padding class="aroundYou">
		<div class="searchRadiusText" flex="25"><span class="textShdw">Slide to change search radius</span></div>
		<div flex>
			<div layout>
			  <md-slider flex class="md-accent" md-discrete ng-model="query" step="1" min="5" max="25" aria-label="rating" ng-init="query=5">
			  </md-slider>
			</div>
	    </div>
	</div>
</div>
<div class="md-whiteframe-z1">
    <md-list ng-controller="dispCtrl">
	    <md-list-item class="md-3-line" ng-repeat="store in dispensaries | limitTo:query||5" ng-class-odd="'odd'" ng-init="query=5">
        <a ng-href="/#/store/{{store.slug}}" style="padding-top:10px;width:100%;" layout="row" layout-align="center center">
            <div flex>
	            <img ng-src="{{store.logo}}" class="md-avatar" alt="{{store.name}}" />
	            <div class="md-list-item-text">
	              <h3>{{ store.name }}</h3>
	              <h4>Address: {{ store.address }} {{store.locationLabel}}</h4>
	              <p>Miles Away: {{getDistance(store.latitude,store.longitude)}}</p>
	            </div>
            </div>
            <div style="width:100px">
                <img ng-src="{{store.starImage}}" width="100%"/>
            </div>	        
        </a>
        <md-divider></md-divider>
    </md-list-item>
</div>