<div layout-padding>
	 <div layout="row" flex="100">
	 	 <div flex="80" layout-padding>
	 	 	<md-input-container>
		      <input ng-model="searchDisp" placeholder="Search Dispensaries">
		    </md-input-container>
	 	 </div>
	 	 <div flex="20" layout="row" layout-padding layout-align="center center">
	 	 	<md-button class="md-raised md-primary">Search</md-button>
	 	 </div>
	 </div>	
</div>
<div>
	<div class="md-whiteframe-z1 whiteBg" layout="row" layout-padding flex="100">
		<div layout-padding>
			<span class="resultsTitle">Results For:</span> <span class="results">{{searchDisp}}</span>
		</div>
	</div>	
</div>
<div class="md-whiteframe-z1" layout-padding>
<md-list ng-controller="dispCtrl">
	<md-list-item class="md-3-line" ng-repeat="stores in desp | filter:searchDisp | limitTo:25 | orderBy:name" ng-class-odd="'odd'">
	<img ng-src="{{stores.image}}" class="md-avatar" alt="{{stores.name}}" />
	<div class="md-list-item-text">
	  <h3>{{ stores.name }}</h3>
	  <h4>State: {{ stores.state }}</h4>
	  <p>Miles Away: {{ stores.rating }}</p>
	</div>
	<md-divider></md-divider>
</md-list-item>
</div>