<div layout-padding>
	 <div layout="row" flex="100">
	 	 <div flex="80" layout-padding>
	 	 	<md-input-container>
		      <input ng-model="searchOrders" placeholder="Search Orders">
		    </md-input-container>
	 	 </div>
	 	 <div flex="20" layout="row" layout-padding layout-align="center center">
	 	 	<md-button class="md-raised md-primary" ng-click="search(searchOrders)">Search</md-button>
	 	 </div>
	 </div>	
</div>
<div>
	<div class="md-whiteframe-z1 whiteBg" layout="row" layout-padding flex="100">
		<div layout-padding>
			<span class="resultsTitle">Results For:</span> <span class="results">{{searchOrders}}</span>
		</div>
	</div>	
</div>
<div class="md-whiteframe-z1" layout-padding>
<md-list>
	<md-list-item class="md-3-line" ng-repeat="product in results | filter:searchOrders | limitTo:25 | orderBy:name" ng-class-odd="'odd'">
        <a ng-href="/#/product/{{product.UrlName}}" style="padding-top:10px;width:100%;" layout="row" layout-align="center center">
            <div flex class="md-list-item-text">
                <h3>{{ product.Name }}</h3>
                <p>Rating: {{ product.Rating }}</p>
            </div>
            <div style="width:100px">
                <img ng-src="{{store.starImage}}" width="100%" />
            </div>
        </a>
        <md-divider></md-divider>
</md-list-item>
</div>