<div layout-padding>
	 <div layout="row">
	 	 <div class="md-whiteframe-z1 storeBanner bottomM" layout-padding layout-align="center center" layout="row" flex>
	 	 	Eugreen
	 	 </div>
	 </div>

	<div layout="row">
	 	<div class="md-whiteframe-z1 ltPane rightM bottomM" layout-padding layout="row">
	 	 	<div layout="column" style="width:100%;" layout-padding>
	 	 		<div class="productStrain bottomM">
	 	 			<div class="h8">Kush</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Very potent and powerful strain. Makes you feel energetic.
	 	 			</div>
	 	 		</div>
	 	 		<div class="productPrice bottomM">
	 	 			<div class="h8">Price</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="1gram">1 Gram: $10.00</div>
		 	 			<div class="3gram">3.5 Grams: $30.00</div>
		 	 			<div class="7gram">7 Grams: $65.00</div>
	 	 			</div>
	 	 		</div>
	 	 		<div class="productType bottomM">
	 	 			<div class="h8">Type</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			Sativa
	 	 			</div>
	 	 		</div>
	 	 		<div class="productServices bottomM">
	 	 			<div class="h8">Services</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="storeDeliver">Delivery: Yes</div>
		 	 			<div class="storePickUp">Pick-Up: No</div>
	 	 			</div>
	 	 		</div>
	 	 	</div>
	 	</div>
	 	<div class="md-whiteframe-z1 rtPane bottomM" layout-padding layout="column" flex>
	 	 	<span layout-padding>About <strong>OG Kush</strong></span>
	 	 	<md-divider></md-divider>
	 	 	<div layout-padding class="aboutText">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper vulputate condimentum. Aliquam ac dignissim nunc. Sed a felis et elit pellentesque cursus. Integer sed cursus ipsum. Aenean quis nulla sed sem gravida mattis non quis ante. Proin imperdiet est nisi, vitae sodales est consectetur in. Phasellus rutrum magna justo, eget volutpat velit tincidunt eget. Curabitur aliquet ornare eros, eu euismod magna bibendum non.</p>

				<p>Vestibulum faucibus ligula in orci blandit, placerat ornare velit ullamcorper. Vestibulum id dolor nibh. Phasellus venenatis, magna ut luctus efficitur, quam tortor tristique tellus, eu semper lacus lorem at velit. Integer dictum lobortis tellus a luctus. Suspendisse potenti. Integer sollicitudin erat eget tellus ullamcorper tincidunt eu ut libero. Ut mollis purus massa, quis molestie ex malesuada eget. Nullam efficitur, nisi sed pulvinar ullamcorper, tellus ligula imperdiet est, a aliquam nisl nibh sed metus.</p>

				<p>Fusce sed massa ex. Nam quis eros maximus, iaculis odio a, tempor nibh. Morbi sed sem sagittis mauris bibendum tincidunt fringilla quis massa. Duis at libero finibus, tristique tortor at, pellentesque enim. Nullam dolor nisl, dignissim quis ipsum ut, mollis dapibus odio. Maecenas sapien lacus, tristique non erat eget, venenatis ullamcorper neque. Aliquam varius leo eu faucibus eleifend. Mauris gravida vel lectus ut molestie. Fusce fermentum et orci in lacinia. Vestibulum tincidunt tempor ullamcorper.</p> 
	 	 	</div>
	 	</div>
	</div>

	<div layout="row">
	 	<div class="md-whiteframe-z1 ltPane rightM bottomM" layout-padding layout="row">
	 	 	<div layout="column" style="width:100%;" layout-padding>
	 	 		<div class="productEffects bottomM">
	 	 			<div class="h8">Effects</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Happy,
						Relaxed,
						Euphoric,
						Uplifted,
						Hungry
	 	 			</div>
	 	 		</div>
	 	 		<div class="productMed bottomM">
	 	 			<div class="h8">Medical</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Stress,
						Pain,
						Depression,
						Insomnia,
						Headaches
	 	 			</div>
	 	 		</div>
	 	 		<div class="productNeg bottomM">
	 	 			<div class="h8">Negatives</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Dry Mouth,
						Dry Eyes,
						Paranoid,
						Dizzy,
						Headache
	 	 			</div>
	 	 		</div>
	 	 	</div>
	 	</div>
	 	<div class="md-whiteframe-z1 orderProduct bottomM" layout="column" flex>
	 	 	<div class="orderText" style="padding-top:40%;" layout-align="center center" layout="row">Order This Product</div>
	 	</div>
	</div>


	<div class="md-whiteframe-z1 productNotice bottomM" layout="row" layout-align="center center" layout-padding flex="100">
 		<strong style="color:red;">Notice:</strong>  This is an area for Dispensaries to output a notice.
 	</div>
 	
</div>