<div layout-padding>
	 <div layout="row" style="background-color:#F4F4F4">
	 	 <div class="md-whiteframe-z1 storeBanner bottomM" layout-padding layout-align="center center" layout="row" flex
              style="background:url({{product.photos[0].fullSize}}) 50% 50% no-repeat;background-size:100% auto">
	 	 	<span style="text-shadow:2px 2px 3px #000000">{{product.name}}</span>
	 	 </div>
	 </div>

	<div layout="row">
	 	<div class="md-whiteframe-z1 ltPane rightM bottomM" layout-padding layout="row">
	 	 	<div layout="column" style="width:100%;" layout-padding>
	 	 		<div class="productStrain bottomM">
	 	 			<div class="h8">{{product.name}}</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Very potent and powerful strain. Makes you feel energetic.
	 	 			</div>
	 	 		</div>
	 	 		<div class="productPrice bottomM">
	 	 			<div class="h8">Price</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="1gram">1 Gram: $10.00</div>
		 	 			<div class="3gram">3.5 Grams: $30.00</div>
		 	 			<div class="7gram">7 Grams: $65.00</div>
	 	 			</div>
	 	 		</div>
	 	 		<div class="productType bottomM">
	 	 			<div class="h8">Type</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			{{product.category}}
	 	 			</div>
	 	 		</div>
	 	 	</div>
	 	</div>
	 	<div class="md-whiteframe-z1 rtPane bottomM" layout-padding layout="column" flex>
	 	 	<span layout-padding>About <strong>{{product.name}}</strong></span>
	 	 	<md-divider></md-divider>
	 	 	<div layout-padding class="aboutText">
				<p>
                    {{product.descriptionPlain}}
                </p>
	 	 	</div>
	 	</div>
	</div>

	<div layout="row">
	 	<div class="md-whiteframe-z1 ltPane rightM bottomM" layout-padding layout="row">
	 	 	<div layout="column" style="width:100%;" layout-padding>
	 	 		<div class="productEffects bottomM">
	 	 			<div class="h8">Effects</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			<span ng-repeat="effect in product.effects">
                              {{effect.name}}<span ng-if="$index < product.effects.length-1">,&nbsp;</span>
                        </span>
	 	 			</div>
	 	 		</div>
               <div class="productEffects bottomM">
                   <div class="h8">Flavors</div>
                   <md-divider></md-divider>
                   <div layout-padding class="paneText">
                       <span ng-repeat="flavor in product.flavors">
                           {{flavor.name}}<span ng-if="$index < product.flavors.length-1">,&nbsp;</span>
                       </span>
                   </div>
               </div>
	 	 		<div class="productMed bottomM">
	 	 			<div class="h8">Medical</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Stress,
						Pain,
						Depression,
						Insomnia,
						Headaches
	 	 			</div>
	 	 		</div>
	 	 		<div class="productNeg bottomM">
	 	 			<div class="h8">Negatives</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			Dry Mouth,
						Dry Eyes,
						Paranoid,
						Dizzy,
						Headache
	 	 			</div>
	 	 		</div>
	 	 	</div>
	 	</div>
	 	<div class="md-whiteframe-z1 orderProduct bottomM" layout="column" flex>
	 	 	<div class="orderText" style="padding-top:40%;" layout-align="center center" layout="row">Order This Product</div>
	 	</div>
	</div>


	<div class="md-whiteframe-z1 productNotice bottomM" layout="row" layout-align="center center" layout-padding flex="100">
 		<strong style="color:red;">Notice:</strong>  This is an area for Dispensaries to output a notice.
 	</div>
 	
</div>