<div layout-padding>
	 <div layout="row">
	 	 <div class="md-whiteframe-z1 storePicBg rightM bottomM" layout-padding layout-align="center center" layout="row">
	 	 	<div layout-align="center center" layout="row"><img class="storePic" src="img/pro.jpg"></div>
	 	 </div>
	 	 <div class="md-whiteframe-z1 storeBanner bottomM" layout-padding layout-align="center center" layout="row" flex>
	 	 	Eugreen
	 	 </div>
	 </div>

	<div layout="row">
	 	<div class="md-whiteframe-z1 ltPane rightM bottomM" layout-padding layout="row">
	 	 	<div layout="column" style="width:100%;" layout-padding>
	 	 		<div class="address bottomM">
	 	 			<div class="h8">Address</div>
	 	 			<md-divider></md-divider>
		 	 		<div layout-padding class="paneText">
		 	 			<div class="street">123 Main St.</div>
		 	 			<div class="cityState">Denver, CO</div>
		 	 			<div class="zip">80123</div>
	 	 			</div>
	 	 		</div>
	 	 		<div class="hours bottomM">
	 	 			<div class="h8">Hours</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="week">Mon-Fri:</div>
		 	 			<div class="weekTime">10 a.m. - 9 p.m.</div>
		 	 			<div class="weekend">Sat-Sun:</div>
		 	 			<div class="weekendTime">10 a.m. - 9 p.m.</div>
	 	 			</div>
	 	 		</div>
	 	 		<div class="services bottomM">
	 	 			<div class="h8">Services</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="storeDeliver">Delivery: Yes</div>
		 	 			<div class="storePickUp">Pick-Up: No</div>
	 	 			</div>
	 	 		</div>
	 	 		<div class="rate bottomM">
	 	 			<div class="h8">Rating</div>
	 	 			<md-divider></md-divider>
	 	 			<div layout-padding class="paneText">
		 	 			<div class="storeDeliver">Delivery: Yes</div>
		 	 			<div class="storePickUp">Pick-Up: No</div>
	 	 			</div>
	 	 		</div>
	 	 	</div>
	 	</div>
	 	<div class="md-whiteframe-z1 rtPane bottomM" layout-padding layout="column" flex>
	 	 	<span layout-padding>About</span>
	 	 	<md-divider></md-divider>
	 	 	<div layout-padding class="aboutText">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper vulputate condimentum. Aliquam ac dignissim nunc. Sed a felis et elit pellentesque cursus. Integer sed cursus ipsum. Aenean quis nulla sed sem gravida mattis non quis ante. Proin imperdiet est nisi, vitae sodales est consectetur in. Phasellus rutrum magna justo, eget volutpat velit tincidunt eget. Curabitur aliquet ornare eros, eu euismod magna bibendum non.</p>

				<p>Vestibulum faucibus ligula in orci blandit, placerat ornare velit ullamcorper. Vestibulum id dolor nibh. Phasellus venenatis, magna ut luctus efficitur, quam tortor tristique tellus, eu semper lacus lorem at velit. Integer dictum lobortis tellus a luctus. Suspendisse potenti. Integer sollicitudin erat eget tellus ullamcorper tincidunt eu ut libero. Ut mollis purus massa, quis molestie ex malesuada eget. Nullam efficitur, nisi sed pulvinar ullamcorper, tellus ligula imperdiet est, a aliquam nisl nibh sed metus.</p>

				<p>Fusce sed massa ex. Nam quis eros maximus, iaculis odio a, tempor nibh. Morbi sed sem sagittis mauris bibendum tincidunt fringilla quis massa. Duis at libero finibus, tristique tortor at, pellentesque enim. Nullam dolor nisl, dignissim quis ipsum ut, mollis dapibus odio. Maecenas sapien lacus, tristique non erat eget, venenatis ullamcorper neque. Aliquam varius leo eu faucibus eleifend. Mauris gravida vel lectus ut molestie. Fusce fermentum et orci in lacinia. Vestibulum tincidunt tempor ullamcorper.</p> 
	 	 	</div>
	 	</div>
	</div>
		<div class="md-whiteframe-z1 storeMap bottomM" layout="row">
	 		<img style="width:100%;"src="img/map.png" />
	 	</div>
</div>